.visually-hidden-cust {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;

}

.product-form {
    position: relative;
}

.cust-card-img {
    display: block;
    width: 400px;
    height: auto;
    margin-right: 20px;
}
.cust-container {
    display: flex;

}
.cust-card-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
    text-decoration: none;
    color: #000000;
}
.cust-card-price {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}
.cust-card-weight {

    font-size: 18px;
    line-height: 22px;
}

.cart {
    padding-left: 1rem;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.cart-clear {
    width: 100%;
}
.cart-headings {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    width: 100%;
    /*margin-right: -15px;*/
    /*margin-left: -15px;*/
}
.cust-main {
    display: flex;
}

.cart-total-wrapper {
    margin-bottom: 10px;
}
.cart-total-text {
    border-bottom: 1px solid black;

}
.cart-total-final
{
    text-transform: uppercase;
}
.cart-total-final,
.cart-total-sum
{
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    color: #333333;
}
.cart-total-final-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    margin-bottom: 10px;
}
.cart-submit {
    padding: 10px;
    display: flex;
    justify-content: center;
}
.img-sample {
    width: 100px;
    height: 100px;
    background-color: red;
}
.item {
    display: flex;
}
.item-desc {
    display: flex;
    flex-direction: column;
}

.item-amount-qty {
    width: 40px;
}
.item-final-price {
    font-weight: bold;
}

.item-img1 {
    width: 100px;
}
.item-desc,
.item-price,
.item-amount,
.item-final {
    min-width: 150px;
}
.item-headings {
    display: flex;
}
.header-top {
    min-height: 84px;
    padding: 0.8rem 0;
    border-bottom: 1px solid #ededed;
}
.logo-zaglushka{
    width: 165px;
    height: 35px;
    background-color: red;
}

.container-auth {
    width: 540px;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}

.container-reg {
    width: 800px;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}
.reg-line {
    align-items: center;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    /*min-width: 0;*/
    word-wrap: break-word;
    /*background-color: #fff;*/
    /*background-clip: border-box;*/
    /*border: 1pxsolidrgba(0,0,0,.125);*/
    border-radius: 0.25rem;
}
.card-body {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: .25rem !important;
}

.filter-container {
    margin-bottom: 20px;
}
.filter-header {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}
