ul {
    list-style: none;
    margin: 0 !important;
    padding: 0 !important;
}

.visually-hidden-cust {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    display: none;
}
.qty-plus,
.qty-minus {
    cursor: pointer;
}
.product-form {
    position: relative;
}
.cust-navbar {
    margin-bottom: 20px;
}
.cust-card-img {
    display: block;
    width: 400px;
    height: auto;
    margin-right: 20px;
}
.cust-container {
    display: flex;

}
.cust-card-title {
    display: inline;
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
    text-decoration: none;
    color: #000000;
    flex-grow: 1;
}
.cust-card-price {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}
.cust-card-weight {

    font-size: 18px;
    line-height: 22px;
}

.cart {
    padding-left: 1rem;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.cart-clear {
    width: 100%;
}
.cart-headings {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    width: 100%;
    /*margin-right: -15px;*/
    /*margin-left: -15px;*/
}
.cust-main {
    display: flex;
}

.img-cart-card {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.item {
    display: flex;
}
.item-desc {
    display: flex;
    flex-direction: column;
}

.item-final-price {
    font-weight: bold;
}

.item-img1 {
    width: 100px;
}

.item-headings {
    display: flex;
}
.header-top {
    min-height: 84px;
    padding: 0.8rem 0;
    border-bottom: 1px solid #ededed;
}
.logo-zaglushka{
    width: 165px;
    height: 35px;
    background-color: red;
}

.container-auth {
    /*width: 540px;*/
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
}

.container-login {
    margin-bottom: 50px;
}
.container-login,
.container-reg {
    /*width: 800px;*/
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}
.login-line,
.reg-line {
    align-items: center;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    /*min-width: 0;*/
    word-wrap: break-word;
    /*background-color: #fff;*/
    /*background-clip: border-box;*/
    /*border: 1pxsolidrgba(0,0,0,.125);*/
    border-radius: 0.25rem;
}

.cust-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #d1d4d7;

}
.cust-card-wrapper  {

    margin-bottom: 40px !important;
}
.card-body {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: .25rem !important;
    padding-bottom: 10px !important;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.filter-container {
    margin-bottom: 20px;
}

.filter-header {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}
.filter {
    display: none;
}

.form-check-input[type=checkbox] {
    border-color: #C4675B;
}
.form-check-input:checked {
    background-color: #C4675B !important;
    border-color: #C4675B !important;
}

.form-check-input:focus {
    border-color: #C4675B !important;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(196, 103, 91, 25%) !important;
}

.cust-card-catalogue-price {
    font-weight: bold;
    font-size: 25px;
    line-height: 20px;
}

.col-6:nth-child(2) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.cust-filter-btn {
    width: 100%;
    border-radius: 50px !important;
    background-color: #C4675B !important;
    border: none !important;
}

.cust-filter-btn:active:focus {
    box-shadow: none !important;
}

.btn-success:focus {
    box-shadow: none !important;
}


.cust-filter-btn:hover {
    background-color: #8f392d !important;
}
.cust-btn {
    border-radius: 50px !important;
    background-color: #C4675B !important;
    border: none !important;
}

.cust-btn:hover {
    background-color: #8f392d !important;
}




/*Карточка товара*/

.cust-view-card {
    display: flex;
    flex-direction: column;
}
.cust-card-img {
    width: 100%;
}

.cust-card-title_mobile {
    display: block;
    font-size: 24px;
    line-height: 40px;
    margin: 0 0 13px;
    font-weight: bold;
}

.cust-card-title_desc {
    display: none;
}
.cust-card-price {
    display: flex;
    justify-content: center;
    font-size: 25px;
    line-height: 29px;
}
.cust-card-text {
    margin-right: 10px;
    font-size: 24px;
    line-height: 29px;
}
.cust-card-img {
    margin-bottom: 30px;
    border-radius: 1rem ;
}
.cust-card-add {
    width: 100%;
    border-radius: 30px;
    padding: 7px 15px;
    border: none;
    color: #ffffff;
    background-color: #C4675B;
}
.cust-card-add:hover {
    background-color: #8f392d;
}
.cust-card-counter {
    border: dashed 1px #C4675B;
    border-radius: 30px;
    padding: 7px 15px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    line-height: 19px;
}
.cust-qty-value {
    border: none;
    text-align: center;
}
.cust-item-amount {
    margin-bottom: 20px;
}
.cust-card-act {
    margin-bottom: 50px;
}
.cust-card-feature {
    padding-left: 0 !important;
}
.cust-description {
    margin-bottom: 70px;
}
.cust-description-heading {
    font-size: 18px;
    color: #C4675B;
    margin-bottom: 13px;
}
.cust-description-text {
    margin-bottom: 25px;
}
.cust-card-feature-title {
    color: #C4675B;
}
/*Корзина*/

.cust-cart-item-content-container {
    display: flex;
}
.cust-cart-items {
    margin-bottom: 30px;
}
.cust-cart-total {
    background-color: #f7f2e6;
    padding-top: 30px;
    padding-left: 12px;
    margin-left: -12px;
    padding-right: 12px;
    margin-right: -12px;
}

.cust-cart-item {
    border-top: solid 1px;
    padding: 2rem 0 0.2rem;
    position: relative;
    margin-bottom: 20px;
}
.cust-cart-item-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.cust-cart-item-content .cust-cart-item-name {
    text-decoration: none !important;
    color: #000000;
}
.cust-cart-item-content .cust-cart-item-name:hover {
    color: #b0a0a0;
}
.cust-cart-item-final {
    
}
.cust-cart-counter {
    border: dashed 1px;
    border-radius: 30px;
    padding: 2px 11px;
    justify-content: space-between;
    font-size: 14px;
    line-height: 19px;
    display: inline-flex;
    max-width: 105px;
}
.cust-cart-amount {
    border: none;
    text-align: center;
    max-width: 40px;
    font-size: 10px;
    line-height: 14px;
    margin: 0 8px;
}

.cust-cart-item-remove-button {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0;
    line-height: 0;
}

.cust-cart-item-remove-button::before {
    height: 2px;
    width: 15px;
    background-color: red;
    content: '';
    top: 11px;
    position: absolute;
    left: -26px;
    transform: rotate(45deg);
}

.cust-cart-item-remove-button::after {
    height: 2px;
    width: 15px;
    background-color: red;
    content: '';
    top: 11px;
    position: absolute;
    left: -26px;
    transform: rotate(315deg);
}
.cust-cart-total-text {
    border-bottom: 1px solid black;
    font-size: 20px;
    line-height: 27px;
}

.cust-cart-total-wrapper {
    margin-bottom: 10px;
    display: flex;
}
.cust-cart-total-final-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.cust-cart-total-final {
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    color: #333333;
}
.cust-cart-total-text-content {
    font-size: 10px;
    line-height: 120%;
}
.cart-total-sum {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    color: #333333;
}


.cust-cart-submit {
    display: flex;
    justify-content: center;
}
.cust-cart-submit-button {
    width: 100%;
    padding: 0.6rem 1.5rem;
    margin-bottom: 50px;
    margin-top: 10px;
    border-radius: 50px;
    display: block;
    text-decoration: none;
    text-align: center;
    border: 1px solid;
}
.cust-cart-back {
    margin-bottom: 50px;
    margin-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
}
.cust-cart-back-button {
    border-radius: 50px;
    display: block;
    width: 100%;
    text-decoration: none;
    padding: 0.6rem 1.5rem;
    text-align: center;
    border: 1px dashed;
}
/*Доставка*/
.cust-order-top {
    display: flex;
    justify-content: space-between;
}
.cust-order-list {
    display: flex;
    flex-direction: column;
}
.order-list-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}
.cust-order-list-item:first-child {
    border-top: 1px solid #E0E0E0;
}
.cust-order-list-item {
    border-bottom: 1px solid #E0E0E0;
    padding: 17px 0 22px;
}
.cust-order-item-name {
    margin-bottom: 12px;
    display: block;
}
.cust-order-item-info {
    display: flex;
}
.cust-order-item-price {
    max-width: 125px;
    width: 100%;
}
.cust-order-item-count {
    max-width: 70px;
    width: 100%;
}
.cust-order-item-total {
    white-space: nowrap;
    width: auto;
    font-weight: bold;
    margin-left: auto;
}

.order-delivery-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.order-delivery-item {
    padding: 17px 17px 17px 14px;
    display: flex;
    flex-direction: column;
    position: relative;
    border: 2px solid transparent;
    border-bottom: 2px solid grey;
}
.order-delivery-item.active {
    border: 2px solid transparent;
}

.order-delivery-item .check-block {
    position: relative;
}

input[type="radio"]:checked,
input[type="radio"]:not(:checked)
{
    position: absolute;
    left: -9999px;
}

input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    right: 0%;
    top: 50%;
    width: 100%;
    height: 100%;
    border: 2px solid #C4675B;
    background: url(../img/circle-check-solid.svg) no-repeat 95% 50%;
    background-size: 25px;
    transition: all 0.3s ease;
    transform: translateY(-50%);
}

input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
}

input[type="radio"]:checked + label:after {
    opacity: 1;
}

.order-delivery-item.active .check-block {
    display: flex;
    align-items: center;
    justify-content: center;
}
.order-delivery-item input[type=radio] {
    /*display: none;*/
}
.order-delivery-address {
    margin-bottom: 10px;
}
.order-delivery-schedule {
    max-width: 95%;
}
.order-customer {
    padding: 35px 0 0;
}
.order-customer-form {
    display: flex;
    flex-wrap: wrap;
    /*margin: 0 -13px;*/
}
.order .form-group {
    display: flex;
    /*padding: 0 13px;*/
    width: 100%;
    margin-bottom: 12px;
}
.order .form-group input[type=text] {
    width: 100%;
    border: 1px solid #BDBDBD;
    border-radius: 50px;
    font-size: 14px;
    line-height: 16px;
    padding: 11px 15px 13px;
}
.order .form-group {
    width: 100%;
    display: flex;
    padding: 0 13px;
    margin-bottom: 10px;
}
.order .form-group.textarea {
    width: 100%;
    height: 200px;
}
.order .form-group textarea {
    width: 100%;
    border: 1px solid #BDBDBD;
    border-radius: 19px;
    resize: none;
    height: 200px;
    font-size: 14px;
    line-height: 16px;
    padding: 11px 15px 13px;
}
.check-callback {
    margin-top: 30px;
}
.cart-total-line:first-child {
    border-top: none;
}
.cart-total-line {
    overflow: hidden;
    padding: 1.125rem 7px;
    border-top: 1px solid #ededed;
    font-size: 1.125rem;
    line-height: 27px;
}

.cart-total {
    border: 2px solid #6f5d56;
    border-radius: 1.125rem;
    padding: 20px;
    margin-bottom: 50px;
}
.change-order {
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
    display: -ms-flex;
    display: flex;
    float: right;
    margin-left: auto;
    color: #C4675B;
}
.cart-text {
    float: left;
    font-weight: bold;
}
.cart-price {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    float: right;
    color: #333;
    text-align: right;
}
.back-to-store,
.order-submit {
    width: 100%;
    font-size: 16px !important;
    line-height: 19px !important;
    margin-top: 29px;
    background-color: #C4675B !important;
    padding: 12px 46px 15px !important;
    color: #FFFFFF !important;
    border-radius: 2.25rem !important;
}

/*страница с оформленным заказом. плашка что заказ оформлен*/
.checkout-card {
    padding: 15px;
    border-radius: 20px;
}

/*footer*/
.footer {
    background-color: #6F5D56;
    color: #ffffff;
    padding-top: 50px;
}
.footer-heading {
    margin-bottom: 15px;
}
.contacts-content {
    display: block;
}
.bottom-menu-link {
    text-decoration: none;
    color: #ffffff;
}

.bottom-menu-link:hover {
    color: #b0a0a0;
}
.footer-slogan,
.footer-contacts {
    margin-bottom: 30px;
}
.footer-bottom-menu {
    padding-bottom: 30px;
}
.footer-bottom-menu-item {
    margin-bottom: 10px;
}

/*header*/
.header-top-wrapper {
    flex-direction: column;
    position: relative;
}
.login-text,
.reg-text {
    display: none;
}
.header-login {
    position: relative;
    top: 50px;
    left: 78%;
    z-index: 1;
}
.header-user-wrapper {
    width: 100%;
}

/*Регистрация*/
.cust-form-reg {
    margin-bottom: 20px;
}
.cust-link {
    color: #C4675B;
}
.cust-link:hover {
    color: #8f392d;
}
/*Политика конфиденциальности*/
.cust-title-policy {
    font-size: 24px;
}
.cust-heading-policy {
    font-size: 20px;
}
/*Категории*/
.cust-container-category {
    margin-bottom: 50px;
}
.cust-list-item-category {
    padding: 0 !important;
    margin-bottom: 10px;
}
.cust-heading-category {
    display: block;
}
.cust-buttons-category {
    display: flex;
    margin-bottom: 10px;
 }
.cust-item-category {
    flex-wrap: wrap;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.cust-btn-edit {
    margin-right: 20px;
}
.cust-heading-category {
    margin-right: 10px;
    min-width: 100px;
}
/*Список заказов*/
.cust-container-orders {
    margin-bottom: 50px;

}
.cust-link-orders {
    text-decoration: none;
    color: #000000;
    word-break:break-all;
}
.cust-link-orders:hover {
    color: #b0a0a0;
}
/*Заказ (админка)*/
.order-item-client {
    display: flex !important;
    flex-wrap: wrap;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.order-heading-client {
    font-weight: bold;
    min-width: 120px;
    padding-right: 10px;
}
.list-group-flush > .order-item-client {
    border-bottom: 0;
}
.table-order th:first-child {
    padding-left: 0;
}
.table-rows-order td:first-child {
    padding-left: 0;
}
/*Форма добавления/редактирования*/
@media (min-width: 568px) {
    .footer-contacts {
        order: 3;
    }
    .cust-card-counter {
        font-size: 1rem;
    }
    /*Категории*/
    .cust-list-item-category {
        padding: 0 !important;
    }

}

@media (min-width: 768px) {
    /*Карточка товара*/

    .cust-view-card {
        flex-direction: row;
    }
    .cust-card-title_mobile {
        display: none;
    }
    .cust-card-title_desc {
        display: block;
        font-size: 28px;
        line-height: 34px;
        margin: 0 0 40px 0 !important;
        font-weight: bold;

    }
    .cust-card-price {
        justify-content: start;
    }
    .cust-card-add {
        font-size: 14px;
        padding: 7px 10px;
    }
    .cust-qty-value {
        width: 40px;
    }
    .cust-item-amount {
        margin-bottom: 0;
    }
    .cust-card-feature {
        display: flex;
        flex-direction: column;
    }
    .cust-card-feature-title {
        flex-grow: 1;
    }
    /*авторизация*/
    .container-auth {
        width: 540px;
    }

    /*Категории*/
    .cust-list-item-category {
        max-width: 700px;
    }
/*    Карточка товара в корзине*/
    .cust-cart-item {
        border: 1px solid black;
        padding: 25px;
        border-radius: 13px;
    }
    .cust-cart-item-content .cust-cart-item-name {
        font-size: 24px;
    }

}
@media (min-width: 992px) {
    .container-login,
    .container-reg {
        width: 800px;
    }
    .filter {
        display: block;
    }
    .cust-filter-btn {
        display: none !important;
    }
    .cust-cart-item {
        padding: 2rem 2rem 1.2rem;
        border: 2px solid;
        border-radius: 18px;
    }
    .cust-cart-back {
        padding: 0;
    }
    .cust-cart-item-remove-button::after,
    .cust-cart-item-remove-button::before {
        width: 20px;
        top: 20px;
        left: -27px;
    }
    .footer-bottom-menu {
        order: 3;
    }
}


/*#603a28*/